body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.portada {
  background-image: url(img/Post\ de\ Instagram\ Ubicación\ y\ Horarios\ Moderno\ Gris.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-container {
  text-align: center;
}

.titulo-novios {
  font-size: 40px;
  color: #f7f4f4;
}

.subtitulo {
  font-size: 20px;
  color: #080808;
}

@media (max-width: 768px) {
  .portada {
    height: 70vh;
  }
  .titulo-novios {
    font-size: 30px;
  }
  .subtitulo {
    font-size: 18px;
  }
}

#introduccion img {
  max-width: 100%;
  height: auto;
}

#introduccion picture img {
  width: 100%;
  height: auto;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galeria img {
  width: 25%;
  height: auto;
  margin: 10px;
}

@media (max-width: 768px) {
  .galeria img {
    width: 50%;
  }
}

#ubicacion iframe {
  width: 100%;
  height: 250px;
  border: none;
}

#informacion, #confirmacion {
  padding: 20px;
}

@media (max-width: 768px) {
  #informacion, #confirmacion {
    padding: 10px;
  }
  .carrusel {
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.fotos {
  display: flex;
  overflow-x: hidden;
}

.fotos img {
  width: 100%;
  height: auto;
  margin: 10px;
  display: none;
}

.fotos img.active {
  display: block;
}

.anterior, .siguiente {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.anterior {
  left: 0;
}

.siguiente {
  right: 0;
}
  #informacion img {
  max-width: 100%;
  height: auto;
}
}




