body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    color: #181717;

}

header {
    background-color: #fafafa;
    color: #fff;
    padding: 1em;
    text-align: center;
}


#cronometro {
    background-color: #61b3ae;
    padding: 1em;
    text-align: center;
    color: #fff;
}

#contador {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#ubicacion {
    background-color: #ffffff;
    padding: 1em;
}

#mapa {
   
    border: 1px solid #ddd;
}
.a href {
    text-decoration: none;
    top: 50%;
    color: #fff;
}
.portada {
  position: static;
  background-color: #e4b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
}


.portada img {
  width: 100%;
  height: 100vh; /* ocupa toda la altura de la ventana */
  object-position: center; /* centra la imagen */
  max-width: 100%; /* asegura que la imagen no exceda el ancho del contenedor */
  object-fit: cover; /* ajusta el tamaño de la imagen */
}


.titulo-novios {
  font-family:great vibes, cursive;
  font-size: 40px;
  color: #f7f4f4;
}

.subtitulo {
  font-family:playfair display, serif;
  font-size: 20px;
  color: #610606;
  display: block; /* para que el subtítulo esté en una línea separada */
}
.titulo-container {
  position: absolute;
  top: 50%; /* ajusta la posición del contenedor */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 
}
button {
background-color: #820ac7;
color: thistle;
border: none;
padding: 20px 30px;
font-size: 18px;
cursor: pointer;
margin-top: 20px; /* espacio entre el botón y el título */
}
.subtitulo {
  font-size: 20px;
  color: #080808;
  display: block; /* para que el subtítulo esté en una línea separada */
}

.contador {
    font-size: 48px;
    font-weight: bold;
    color: #110505;
}

.informacion {
    background-color: #f7f7f7;
    padding: 2em; /* espacio alrededor del contenido */
    padding-top: 2em; /* espacio superior */
    padding-bottom: 2em; /* espacio inferior */
    margin: 1em 0; /* margen superior e inferior */
    font-size: 18px; /* tamaño de fuente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* tipo de letra */
    text-align: center; /* centrado del texto */
    
}
section{
  border-bottom: 1px solid #ccc; /* línea divisoria entre secciones */
  padding: 20px; /* espacio alrededor del contenido */
  margin-bottom: 20px; /* espacio entre secciones */
  background-color: #d8b7b7; /* color de fondo de las secciones */
}

section h2 {
  font-size: 24px; /* tamaño de fuente del título */
  color: #fff; /* color del texto del título */
  margin-bottom: 10px; /* espacio debajo del título */
}

section.contador{
  background-color: #f1f1f1; /* color de fondo específico para la sección del contador */
  padding: 20px; /* espacio alrededor del contenido */
  text-align: center; /* centrado del texto */
}



